CompileFlags:
  Add: [
    "-isysroot",
    "/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneOS.platform/Developer/SDKs/iPhoneOS.sdk",
    "-target",
    "arm64-apple-ios15.0",
    "-fmodules",
    "-fcxx-modules",
    "-fobjc-arc",
    "-I/opt/theos/include",
    "-I/opt/theos/vendor/include"
  ]
