Package: com.sparkle.sparkle
Name: Sparkle for Instagram
Version: 1.2.0
Architecture: iphoneos-arm
Description: Bring the spark back to Instagram!
Homepage: https://github.com/efibalogh/sparkle-ig
Maintainer: efibalogh
Author: efibalogh
Section: Tweaks
Depends: mobilesubstrate
